/*.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 700px;
}*/

.navBar {
  background-color: #a9ec8e;
  width: 100%;
  font-size: 15px;
}



.profile-img{
  width: 150px;
  object-fit: cover;
  height:150px;
  border-radius: 50%;  
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
}
.profile-imgCard{
  width: 250px;
  object-fit: cover;
  height:300px;
  border-radius: 50%;  
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
}

body h1, h2, h3, h4, label, p{
  color:white
}


.backgroundGrey{
  background: #22223b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #22223b, #22223b, #22223b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #22223b, #22223b, #22223b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.backgroundPink{
  background: #701c7f;  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #701c7f, #701c7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.backgroundMiki{
  background: #4a4e69;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a4e69, #4a4e69, #4a4e69);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a4e69, #4a4e69, #4a4e69); 
}

.centerText{  
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.placeText{
  margin-top: 40px;
  width: 300px;
}

.wordHomePage{
  color: #42f4f7;
  font-size: 15px;
  display: flex;
  align-items: center; 
}

.h2HomePage{
  font-size: 24px
}

.pHomePage{
  font-size: 15px;
}

.centerItemsContainer{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.artistContainer{
  margin-top: 50px;
  background-image: url("https://i0.wp.com/data.whicdn.com/images/332753020/original.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}










