/*.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 700px;
}*/

.navBar {
  background-color: #a9ec8e;
  width: 100%;
  font-size: 15px;
}

.profile-img{
  width:100px;
  height:100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
}




