
.EventCard{
  background-color: #505757;
}

.map-container {
  height: 250px;
  width: 90vw;
  border-radius: 8px;
  border: 1px solid rgb(216, 162, 13);  
}


.profile-img{
  width: 150px;
  object-fit: cover;
  height:150px;
  border-radius: 50%;  
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
  margin:10px
}

.event-img{
  width: 600px;
  object-fit: cover;
  height:300px;
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
  margin:10px
}


.profile-imgSmall{
  width: 75px;
  object-fit: cover;
  height:75px;
  border-radius: 50%;  
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
  margin:10px
}

.profile-imgCard{
  width: 250px;
  object-fit: cover;
  height:300px;
  border-radius: 50%;  
  border: 2px solid rgb(47, 49, 47);
  display: flex;
  justify-content: center;
}

body h1, h2, h3, h4, h5, h6, label, p, li{
  color:white
}

option{
  font-size: 10px;
}


.backgroundGrey{
background: #22223b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #22223b, #22223b, #22223b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #22223b, #22223b, #22223b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.backgroundEventCard{
  background: linear-gradient(to right, #4a4e69, #373a4d, #353952);
}

.backgroundArtistCard{
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #4a4e69, #4a4e69, #4a4e69);
  border-radius: 10px;
}


.centerItemsContainer{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
  margin: 35px;
  border-radius: 10px;
}


.artistContainer{
  background-image:
  linear-gradient(rgba(59, 59, 57, 0.4), rgba(31, 83, 131, 0.973)), 
  url("/public/artista.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;

}

.hostContainer{
  background-image: linear-gradient(rgba(59, 59, 57, 0.4), rgba(31, 83, 131, 0.973)), 
  url("/public/barman.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;

}


.eventContainer{
  background-image:
  linear-gradient(rgba(59, 59, 57, 0.4), rgba(31, 83, 131, 0.973)), 
  url("/public/sofar-sounds2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;

}

.findaGig{
  color: rgb(216, 162, 13);
}

.profileArtistHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profileArtistButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.videos{
  width: 100%;
  margin: 20px
}



.artistMusicStyles{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.musicStyleColor{
  color: rgb(194, 160, 7)
}

.profileArtistHeaderTitle{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding:10px
}

.centerText{  
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.placeText{
  margin-top: 40px;
  width: 300px;
}

.wordHomePage{
  color: #42f4f7;
  font-size: 15px;
  display: flex;
  align-items: center; 
}

.h2HomePage{
  font-size: 24px
}

.pHomePage{
  font-size: 15px;
}

.backgroundPink{
  background: #701c7f;  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #701c7f, #701c7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.backgroundMiki{
  background: #4a4e69;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a4e69, #4a4e69, #4a4e69);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a4e69, #4a4e69, #4a4e69);
  background-image:
  linear-gradient(rgba(59, 59, 57, 0.4), rgba(31, 83, 131, 0.973)), 
}

.lessMargin{
  margin: -20px
}

.margenesHomePage{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
}





